body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather' , serif;
  color: #40514E;
}
h1
{
  font-size: 5.625rem;
  color: #66BFBF;
 margin:50px auto 0 auto;
 font-family: 'Sacramento' , cursive;


}
h2
{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat' , san-serif;
  color:#66BFBF;
  padding-bottom: 10px;


}
h3
{
  font-size: 25px;
  font-family: 'Montserrat' , san-serif;
  color:#11999E;
}
.intro
{
  width:30%;
  margin: auto;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}
.middle-container{
 margin:100px 0;
  }
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;

}
.pro
{
  text-decoration: underline;
}
.cl
{
position: absolute;
right:300px;
top:40px;
}
.cl1
{
position: absolute;
left:250px;
bottom:300px;
}


.skill-row
{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}
p{
  line-height: 2;
}
.pr
{
  height: 300px;
  width: 300px;
  margin: 75px auto auto auto;
}
.cmp-img
{
  width:25%;
  float: left;
  margin-right: 30px;


}
.group-img
{
  width:25%;
  float: right;
  margin-left: 30px;


}
.CONTACT {
  color: black;
}
hr{

  border-style: dotted none none none;
  border-color: lightgrey;
  border-width: 5px;
  height: 0;
  width:5%;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat' , san-serif ;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
a
{
  font-family: 'Montserrat' , san-serif;
  color:#11999E;
  margin: 10px 20px;
  text-decoration: none;


}
a:hover{
  color:#EAF6F6;
}
.copyright
{
  color:#EAF6F6;
  font-size:0.75rem;
  padding:20px 0;
}
